<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjectiveCUnitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1F1A1FB1E1EA5E20058E788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1F1A2171E1EA5E30058E788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1F1A2221E1EA5E30058E788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
